{% extends 'base.html.twig' %}
{% block body %}
<h1>Créer compte</h1>
{{ form_start(form) }}
{{ form_row(form.username,{'label' : 'Nom','attr':{'placeholder':'Entrez votre nom ...'}})}}
{{ form_row(form.email,{'label' : 'Email','attr':{'placeholder':'Entrez votre email ...'}})}}
{{ form_row(form.password,{'label' : 'Mot de passe','attr':{'placeholder':'Entrez votre mot de passe'}})}}
<button type="submit" class="btn btn-success">Ajouter </button>
{{form_end(form)}}
{% endblock %}
